<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wunderlust Footer</title>
  
  <style>
    .footer {
     background-color: whitesmoke;
     color: black;    
     padding: 20px 0;
    }
    .footer .social-icons a {
      color: rgb(0, 0, 0);
      font-size: 20px;
      margin: 0 10px;
      transition: color 0.3s;
    }
    .footer .social-icons a:hover {
      color: #0d6efd;
    }
  </style>
</head>
<body>
  <!-- Footer Section -->
  <footer class="footer text-center">
    <div class="container">
      <h4 class="mb-3" style="font-size: 1.5rem;">Blogstar Pvt LTD</h4>
      <div class="social-icons mb-3">
        <a href="https://www.instagram.com/" target="_blank" style="color: red; font-size: 2rem;"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/" target="_blank" style="color: blue;"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com/" target="_blank" style="color: rgb(1, 1, 116); font-size: 2rem;"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/" target="_blank" style="color: blue;"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.github.com/" target="_blank" style="color: rgb(0, 0, 0); font-size:2rem"><i class="fa-brands fa-github"></i></a>
      </div>
      <p style="color:rgb(5, 5, 72) ;">&copy; <b>2025 Blogstar Pvt. Ltd. All rights reserved</b>.</p>
    </div>
  </footer>

</body>
</html>
